img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position: relative;
  width: 100%;
  margin-top:20px;
}
.carousel{
  height: auto;
  width: 100%;
}

// .carousel-inner {
//   overflow: visible;
// }
