.footer {
  background-color: $gray;
  margin-bottom: 0px;
  position: absolute;
  z-index: 2;
  color: $white;
  height: 2em;
  text-align: center;
  // bottom: 0;
  padding: 0;
  width: 100%;
}
.footer-svg {
  position: relative;
}
.bottom-portal-svg{
    width: 35%;
    height: 50%;
    fill: $black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
