.footer {
  background-color: $white;
  margin-bottom: 60px;
}
.footer-svg {
  height: 73px;
  position: relative;
}
.bottom-portal-svg{
    width: 35%;
    height: 50%;
    fill: $black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
