@import 'color';
@import 'mixins';

.container-fluid{
  padding: 0px;
}
body{
  background-color: $white;
}
h1 {
  font-size: 1.3em;
  margin-top: .2em;
  margin-bottom: .2em;
  width: 100%;
}

h4{
  width: 100%;
}

button{
  width: 100%;
}
@import 'sidenav';
@import 'mobileNav';
@import 'footer';
@import 'rightPortal';
@import "albumcover"
