<!--
<div class="col-xs-12 col-sm-5 card-container">
  <img class='card-img-top' src="http://orig15.deviantart.net/f85f/f/2010/104/9/9/them_crooked_vultures_by_magicjohnson92.png" alt="" />
</div>
<div class="col-xs-12 col-sm-5 card-container">
  <img class='card-img-top' src="http://orig15.deviantart.net/f85f/f/2010/104/9/9/them_crooked_vultures_by_magicjohnson92.png" alt="" />
</div>
<div class="col-xs-12 col-sm-5 card-container">
    <img class='card-img-top' src="http://orig15.deviantart.net/f85f/f/2010/104/9/9/them_crooked_vultures_by_magicjohnson92.png" alt="" />
</div> -->

<div class="col-xs-12 col-sm-5 albumcover-box ">
  <img class='album-img' src="http://orig15.deviantart.net/f85f/f/2010/104/9/9/them_crooked_vultures_by_magicjohnson92.png" alt="" />
</div>
<div class="col-xs-12 col-sm-5 albumcover-box ">
  <img class='album-img' src="http://orig15.deviantart.net/f85f/f/2010/104/9/9/them_crooked_vultures_by_magicjohnson92.png" alt="" />
</div>
<div class="col-xs-12 col-sm-5 albumcover-box">
    <img class='album-img' src="http://orig15.deviantart.net/f85f/f/2010/104/9/9/them_crooked_vultures_by_magicjohnson92.png" alt="" />
</div>
<div class="col-xs-12 col-sm-5 albumcover-box">
    <img class='album-img' src="http://orig15.deviantart.net/f85f/f/2010/104/9/9/them_crooked_vultures_by_magicjohnson92.png" alt="" />
</div>
<div class="col-xs-12 col-sm-5 albumcover-box ">
  <img class='album-img' src="http://orig15.deviantart.net/f85f/f/2010/104/9/9/them_crooked_vultures_by_magicjohnson92.png" alt="" />
</div>
<div class="col-xs-12 col-sm-5 albumcover-box ">
  <img class='album-img' src="http://orig15.deviantart.net/f85f/f/2010/104/9/9/them_crooked_vultures_by_magicjohnson92.png" alt="" />
</div>
<div class="col-xs-12 col-sm-5 albumcover-box">
    <img class='album-img' src="http://orig15.deviantart.net/f85f/f/2010/104/9/9/them_crooked_vultures_by_magicjohnson92.png" alt="" />
</div>
<div class="col-xs-12 col-sm-5 albumcover-box">
    <img class='album-img' src="http://orig15.deviantart.net/f85f/f/2010/104/9/9/them_crooked_vultures_by_magicjohnson92.png" alt="" />
</div>
