 <p><input type="text" ng-model="test" ng-init=''></p>

    <div class="col-xs-12 col-sm-8 ">
      <div  id="slides_control">
          <carousel class="carousel">
            <slide  class="albumcover-box" ng-repeat='artist in artistInfo| filter:test' ng-mouseenter='slideInfo(artist.artistName, artist.songName, artist.albumName)' active="slide.active">
              <img class="album-img" ng-src="{{artist.albumImg}}" >
              <div class="carousel-caption">
                <h4>{{$index+1}}</h4>
                <h4>{{artist.artistName}}</h4>
              </div>
            </slide>
          </carousel>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p>
        {{artistName}}
      </p>
      <p>
        {{songName}}
      </p>
      <p>
        {{albumName}}
      </p>
    </div>
