  <div class="col-xs-12 col-sm-8">
    <div  id="slides_control">

        <carousel class="carousel">
          <slide  class="albumcover-box" ng-repeat="album in artistInfo" active="slide.active">
            <img class="album-img" ng-src="{{album.img}}">
            <div class="carousel-caption">
              <h4>{{$index+1}}</h4>
            </div>
          </slide>
        </carousel>

    </div>
    <h5> <span class='album-inf'>{{album.song}}</span> </h5>
    <h5 class='album-inf'>{{album.artist}}</h5>

  </div>
  <div class="col-xs-12 col-sm-4">
    album text goes here
  </div>
