
<div class="col-xs-12"ng-repeat='artist in artistInfo'>
  <edit artist='artist'></edit>
</div>
<!-- <form ng-submit='addInfo(artistName, albumName, albumImg, songName)'>
  <label for="artistName">artist name</label>
  <input ng-model='artistName' type="text" class="validate" >

  <label for="albumName">album Name:</label>
  <input ng-model='albumName' type="text" class="validate">

  <label for="albumImg">album image:</label>
  <input ng-model='albumImg' type="text" class="validate">

  <label for="songName">song name:</label>
  <input ng-model='songName' type="text" class="validate">


  <button class="btn" type ='submit' name="button">add new artist info</button>

</form> -->
