<div class="bottom-nav hidden-sm hidden-md hidden-lg hidden-xl ">
  <div class="col-xs-4 text-center bottom-nav-container">
    <div class="row">
    <a ui-sref="home">
  <button  class='bottom-links'type="button"><h4>Home</h4></button>
  </a>
</div>

  </div>
  <div class="col-xs-4 text-center bottom-nav-container">
    <div class="row">
    <a ui-sref="art">
  <button class="bottom-links" type="button"><h4>Art</h4></button>
  </a>
</div>
  </div>
  <div class="col-xs-4 text-center bottom-nav-container">
    <div class="row">
    <a ui-sref="about">
     <button class="bottom-links" type="button"><h4>Our Vision</h4></button>
     </a>
   </div>
  </div>
</div>
