<div class="hidden-xs">
  <div class="col-sm-2 sidenav">


    <div class="sideNav-title">
      <h1 class="">	&copy; Lowlypalace</h1>
    </div>

    <div class='row logo-container'>
      <img class="logo-img"src="/img/logo.png" alt="" />
    </div>


    <div class="row side-nav-links">
        <a ui-sref="home">
        <button class="links" type="button"><h4>Home</h4></button>
        </a>
    </div>




  <div class="row side-nav-links">
      <a ui-sref="art">
      <button class="links" type="button"><h4>Art</h4></button>
      </a>
    </div>


    <div class="row side-nav-links">
        <a ui-sref="about">
        <button class="links" type="button"><h4>About</h4></button>
        </a>

    </div>




  </div>
