<div class="row top-nav hidden-sm hidden-md hidden-lg hidden-xl topName-box">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 text-center">
        <img class="logo-img-top "src="/img/logo.png" alt="" />
      </div>
    </div>
    <div class="row side-nav-links">
        <a ui-sref="home">
        <button class="links" type="button"><h4>Home</h4></button>
        </a>
    </div>
    <div class="row side-nav-links">
        <a ui-sref="art">
        <button class="links" type="button"><h4>Art</h4></button>
        </a>
      </div>
      <div class="row side-nav-links">
          <a ui-sref="about">
          <button class="links" type="button"><h4>Our Vision</h4></button>
          </a>

      </div>
  </div>



  <!-- <div class="col-xs-8">
     <h1 class="topName">Lowly Palace</h1>
     <div class="row">
       <div class="cik">

       </div>
       <small class="copyRight-top"> &copy; Lowlypalace</small>
     </div>
  </div>

  <div class="col-xs-4">
    <img class="logo-img-top"src="/img/logo.png" alt="" />
  </div> -->
